<% layout('layout') %>

<section id="blog" class="blog">
  <article class="sectionContainer">
    <h2 class="sectionTitle">My Blog</h2>
    <section id="blogContainer" class="subContainer blogsContainer">
      <h3>Coming Soon..</h3>
    </section>
  </article>
</section>
